// Variáveis e Mixins
@import '~_util'

.mensagem
    overflow hidden; max-height 1000px; padding 25px 15px; margin 5px 20px 20px;
    font-size rem(18); font-weight $font-bold; line-height rem(23)

    &.error
        background #FFF6F6; border 2px solid #973937; color #973937;

    &.success
        background #FCFFF5; border 2px solid #A8C599; color #1E561F;
    
    &.warning
        background #FFFAF3; border 2px solid #CCBEA0; color #7A4D05;

.mensagem-enter-active, .mensagem-leave-active
    transition: all .5s ease-in-out, max-height 1s ease-in-out;
    
.mensagem-enter, .mensagem-leave-to
    max-height: 0; padding 0 15px;