// Variáveis e Mixins
@import '~_util'

.select
    position relative; margin-bottom 15px; padding 0 15px; width 100%;

    .message
        visibility hidden; opacity 0; user-select none; transition all .2s ease-in-out; position: absolute; bottom: 0; font-size: rem(12); 
        right: 15px; white-space nowrap;

    &.error, &.success
        .message
            visibility visible; opacity 1; user-select all;

    &.error
        .multiselect
            background #FFF2F2;
        .multiselect__tags
            border-bottom-color #973937;
        .message
            color: #973937;
    
    &.success
        .multiselect
            background #FCFFF5;
        .multiselect__tags
            border-bottom-color #A8C599; 
        .message
            color: #1E561F;

    .multiselect
        min-height: 50px; color #000;

    .multiselect__option--highlight
        background $httLaranja;

    .multiselect__tags
        border-radius 0; border-top none; border-left 0; border-right 0; border-color #ebebeb; padding-left 0;
        transition all .2s ease-in-out; min-height: 50px; background transparent;

    .multiselect__placeholder
        font-size rem(16); color #000; padding-top: 11px; margin-bottom 0;

    .multiselect__input, .multiselect__single
        padding-left 0; min-height: 40px; line-height: 40px; margin-bottom 0; background transparent;

    .multiselect--active
        .multiselect__tags
            border-bottom-color $httLaranja; color $httLaranja;
        
        .multiselect__select
            &:before
                border-color $httLaranja transparent transparent;

        .multiselect__content-wrapper
            border-color $httLaranja;

        .multiselect__input, .multiselect__single
            color $httLaranja;

    .multiselect--disabled
        cursor not-allowed; background: #d1d1d1; opacity 1; pointer-events all;
        .multiselect__tags, .multiselect__select
            background: #d1d1d1;
        .multiselect__placeholder
            color #3c3c3c;
        .multiselect__input, .multiselect__single
            background: none;

    .multiselect__content-wrapper
        transition all .2s ease-in-out;

    .multiselect__select
        height: 48px;
        &:before
            transition all .2s ease-in-out;