// Variáveis e Mixins
@import '~_util'

.actions
    display flex; padding-left 0; max-width 260px; align-items center;
    .button
        margin 0;

.novoContato
    display flex; justify-content flex-end; width 100%; flex-flow row wrap; justify-content space-between; align-items center;
    .button
        width: auto;
    
    .form
        width 100%; display flex; flex-flow row wrap; padding 50px 15px; justify-content flex-end;