// Variáveis e Mixins
@import '~_util'

.checkbox
	position relative; margin-bottom 15px; padding 0 15px; width 100%;

span
	display block; font-size rem(12); padding 2px;

label
	display inline-block;
	i
		width 46px; height 26px; background #ededed; display inline-block; border-radius 23px; position relative; cursor pointer;
		&:before
			content ''; width 42px; height 22px; background #fff; position absolute; left 0; border-radius 11px; transition: all 0.25s linear; transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
		&:after
			content ''; width 22px; height 22px; background #fff; position absolute; left 0; transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1); transition: all 0.25s linear; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24); border-radius 11px;
	&:active
		i
			&:after
				width 26px; transform: translate3d(2px, 2px, 0);
		
		input
			&:disabled
				+ i
					&:after
						width 22px;
	input
		display none;
		&:checked + i
			background $httLaranja;
			&:after
				transform: translate3d(16px, 2px, 0);
			&:before
				transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); 
			&:after
				transform: translate3d(22px, 2px, 0);
		
		&:disabled + i 
			opacity .35; cursor not-allowed;