// Variáveis e Mixins
@import '~_util'

.breadcrumb
    li
        p
            padding 10px; font-size rem(16); line-height rem(16); font-weight $font-medium;
            &:first-child
                padding-left 0;
            
        &:not(:first-child)
            p
                &:before
                    content: '>'; margin-right 5px; font-weight $font-bold; color $httLaranja; font-size rem(18); line-height rem(16);

        &:last-child
            p
                color $httLaranja;