// Variáveis e Mixins
@import 'imports/_util'

// Normalize css
@require '../../../../node_modules/normalize-styl'

// Resets gerais não contemplados pelo normalize
@import 'imports/_resets'

// Estilos gerais
@import 'imports/_geral'
