@import '~_util'

section#pageDashboard
    vw(padding-right, 40); vw(padding-left, 40); vw(padding-top, 20); vw(padding-bottom, 20); vw(margin-bottom, 30)
    h2
        vw(font-size, 30) vw(margin-bottom, 30)
    .cards
        display flex vw(max-width, 1190); flex-flow row wrap; 