// 
// Variables
// 
$font-size              = 16px;
$base_width             = 1920px;
$base_height            = 1080px;
$content-width          = 1280px;
$supported-resolutions  = 2560 1920 1680 1600 1440 1366 1280 1024 768 600 375 340 320;

// 
// Project Variables
// 
$httLaranja             = #e75629;
$httAmarelo             = #fccd03;
$httVermelho            = #910a0a;

// Font Weights
$font-thin              = 100;
$font-extralight        = 200;
$font-light             = 300;
$font-regular           = 400;
$font-medium            = 500;
$font-semibold          = 600;
$font-bold              = 700;
$font-extrabold         = 800;
$font-black             = 900;

// 
// Private Mixins
// Estas mixins não devem ser acessadas diretamente
// 
// Calcula o valor para o vw ou vh
_calculaRelacaoVwVh(valor, base, format = 'vw')
    if ( ( valor / ( base * 0.01 ) * 1 ) < 100 )
        unit( ( valor / ( base * 0.01 ) * 1 ), format )
    else
        unit( 100, format )

// Calcula o valor para o em ou rem
_calculaRelacaoEmRem(valor, format = 'em')
    unit( valor/$font-size, format );

//  
// Public Mixins
// 
// Converve um valor em 'em'
em(valor)
    _calculaRelacaoEmRem(valor);

// Converve um valor em 'rem'
rem(valor)
    _calculaRelacaoEmRem(valor, 'rem');

// Converte uma propriedade ou valor em 'vw'
vw(propriedade, valor = 0)
    if (type(propriedade) == 'unit' || type(propriedade) == 'string') && valor == 0
        _calculaRelacaoVwVh(propriedade, $base_width)
    else
        {propriedade} unit( valor, 'px' );
        for $i in $supported-resolutions
            if (_calculaRelacaoVwVh(valor, $i) < 100 )
                +media(max-width, $i)
                    {propriedade} _calculaRelacaoVwVh(valor, $i)

// Converte um valor em 'vh'
vh(valor)
    _calculaRelacaoVwVh(valor, $base_height, 'vh')

// Limpa os floats
clearfix()
    &:after
        content ''; display table; clear both;

// Media query geral
media(constraint, tamanho = 0, orient = '')
    if type(constraint) == 'object'
        tamanho = values(constraint)
        constraint = keys(constraint)

    if orient != ''
        @media ({ constraint } unit( tamanho, 'px' )) and (orientation orient)
            {block}
    else
        @media ({ constraint } unit( tamanho, 'px' ))
            {block}

// Media queries para desktop
desktop-2560()
    +media(max-width, 2560)
        {block}

desktop-1920()
    +media(max-width, 1920)
        {block}

desktop-1680()
    +media(max-width, 1680)
        {block}

desktop-1600()
    +media(max-width, 1600)
        {block}

desktop-1440()
    +media(max-width, 1440)
        {block}

desktop-1366()
    +media(max-width, 1366)
        {block}

desktop-1280()
    +media(max-width, 1280)
        {block}

desktop-1024()
    @media (max-width: 1024px)
        {block}

// Tablet
tablet-1023()
    @media (max-width: 1023px)
        {block}

tablet-768()
    @media (max-width: 768px)
        {block}

// Tablet
mobile-600()
    @media (max-width: 600px)
        {block}

iphone-x()
    @media (max-width: 375px)
        {block}

iphone-8()
    @media (max-width: 340px)
        {block}

iphone-5()
    @media (max-width: 320px)
        {block}